
<h2>
	Next event: Sunday <%= @date %> from 4 - 6 pm
</h2>

<div class="event_info">
	<h2 class="topic">
		Topic:  <%= @event.lecture %>
		<br>
	</h2>

	<p>
		<div class="bold">
			Fellowship meal
		</div>
		Main Course: <%= @event.meal %> / Side: <%= @event.side %>
		<br><br>
		<div class="bold">
			RSVP by Friday <%= @rsvpdate %>
		</div> 
		Call or email Rajni to insure we prepare enough food at (305) 571-7171 / rajniaga@gmail.com
		<br>
		<div class="br_space">
		</div>
		$10 suggested donation for the meal prepared.
	</p>
</div>

 <p>
 	<div class="inline bold_same_line">
		Location:
	</div>
	Christ Journey Church (Room 101), 624 Anastasia Ave. Coral Gables, FL 33134
</p>

<p>
	Cancer Prevention and Recovery is a non-profit organization dedicated to helping people to transition into a healthier lifestyle. Whether you are a cancer survivor, fighting cancer, recovering, have a loved one who is, or just want to be informed about how to prevent cancer, this group is for you!
</p>

